/* ----------------------------------------------------------------
||
|| CSS for Admin Pages
||
---------------------------------------------------------------- */

.adminnavs {
	width: 300px;
	height: 100vh;
	background-color: #369;
}